menu "LED Subsystem"
choice LED_BLINKING_TIME_CHOICE
    bool "LED Sleep time"
    help
        "This is the actual time that each blink period takes."
    config SLEEP_TIME_250_MS
        bool "250 ms"
    config SLEEP_TIME_500_MS
        bool "500 ms"
    config SLEEP_TIME_1000_MS
        bool "1000 ms"
    config SLEEP_TIME_2000_MS
        bool "2000 ms"
endchoice

config LED_BLINKING_TIME_MILIS
    int
    default 250 if SLEEP_TIME_250_MS
    default 500 if SLEEP_TIME_500_MS
    default 1000 if SLEEP_TIME_1000_MS
    default 2000 if SLEEP_TIME_2000_MS

menu "Advanced Led settings"
    config LED_BRIGHTNESS
        int "LED Brightness (0-100)"
        range 0 100
        default 100
    config LED_FADE_DURATION
        int "LED fade duration (ms)"
        default 500

    config ENABLE_EXPERT_SETTINGS
        bool "Enable expert settings"
        default n
    
    # menu "Expert settings" 
    config ENABLE_LED_DEBUGGING
        depends on ENABLE_EXPERT_SETTINGS
        bool "Enable LED debugging"
        default n
    config CUSTOM_BLINK_PATTERN
        depends on ENABLE_EXPERT_SETTINGS
        string "Custom LED blink pattern"
        default "101110"
    # endmenu # End of Expert settings
endmenu # End of Advanced Led settings
endmenu 

menu "Default Zephyr configuration"
    source "Kconfig.zephyr"
endmenu