menuconfig OUR_DRIVER
    bool "Enable our driver"
    select GPIO
    depends on DT_HAS_OUR_DRIVER_ENABLED
    help
      THE BEST DRIVER THAT's EVER EXISTED @__@

if OUR_DRIVER
config OUR_DRIVER_INIT_STATE
    bool "Start as high"
    default n
endif